:host {
  footer {
    blockquote {
      width: 96vw;
      height: 5vh;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
      border-radius: 5px;

      p {
        &::before {
          content: "\201C";
        }

        &::after {
          content: "\201D";
        }
      }
    }
  }
}
