<header>
  <div>
    <label for="themeSelector">
      Modo:
      <button id="themeSelector" type="button" (click)="changeTheme()">
        {{ themeText }}
        <fa-icon [icon]="themeIcon" (click)="changeTheme()"></fa-icon>
      </button>
    </label>
    <fa-icon id="menuIcon" [icon]="menuIcon" (click)="openMenu()"></fa-icon>
  </div>
  <menu>
    <ul>
      <li>
        <a class="active" (click)="activate($event)" [routerLink]="['']"
          >Pagina inical</a
        >
      </li>
      <li>
        <a (click)="activate($event)" [routerLink]="['extratos']">Extratos</a>
      </li>
      <li>
        <a (click)="activate($event)" [routerLink]="['contato']">Contate-nos</a>
      </li>
    </ul>
  </menu>
</header>
