:host {
  header {
    overflow: hidden;
    div {
      justify-content: space-between;

      &,
      label {
        display: flex;
        align-items: center;
      }

      label {
        color: var(--details_1);
        button {
          background: none;
          margin-right: 0.6vw;
          color: var(--texts);
          fa-icon {
            color: var(--details_2);
          }
        }
      }

      #menuIcon {
        display: block;
        text-align: right;
        font-size: 1.5em;
      }
    }

    width: 94vw;
    margin: 3vh auto 0;
    menu {
      background-color: var(--bg-menu);
      border-top-left-radius: 0.6rem;
      border-bottom-left-radius: 0.6rem;
      padding: 1vh 5vw 1vh 4vw;
      float: right;
      position: relative;
      right: -40vw;
      transition: right 0.3s;
      z-index: 1;
      border: 0.3rem groove var(--details_1);

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1vh 0;
        a {
          color: var(--texts);
        }
      }
    }
  }
}
