:host {
  header {
    overflow: hidden;
    div {
      justify-content: space-between;

      &,
      label {
        display: flex;
        align-items: center;
      }

      label {
        color: var(--details_1);
        button {
          font-size: 1em;
          background: none;
          margin-right: 0.6vw;
          color: var(--texts);
          fa-icon {
            color: var(--details_2);
          }
        }
      }

      #menuIcon {
        display: block;
        text-align: right;
        font-size: 1.5em;
      }
    }

    width: 94vw;
    margin: 3vh auto 0;
    menu {
      background-color: var(--bg-menu);
      border-top-left-radius: 0.6rem;
      border-bottom-left-radius: 0.6rem;
      padding: 1vh 5vw 1vh 4vw;
      float: right;
      position: relative;
      right: -45vw;
      transition: right 250ms;
      z-index: 1;
      border: 0.3rem groove var(--details_1);

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1vh 0;

        a {
          color: var(--texts);
          text-decoration: none;
          padding: 2vw;
        }

        a.active {
          background-color: var(--details_2);
          border-radius: 0.6rem;
        }
      }
    }
  }
}

// Media queries:

@media screen and (min-width: 768px) {
  :host {
    header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        #menuIcon {
          display: none;
        }
      }

      menu {
        position: unset;
        float: unset;
        border: unset;
        width: 100%;
        height: 5vw;
        padding: 1vh 2vw;
        margin-top: 1vh;
        border-radius: 0.7rem;
        display: flex;
        align-items: center;

        li {
          display: unset;

          a {
            padding: 1vw;
          }

          a:hover {
            color: var(--details_2);
            background-color: var(--details_1);
            border-radius: 0.6rem;
          }
        }
      }
    }
  }
}
