@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: "Share Tech Mono", monospace;

  button {
    cursor: pointer;
  }
}

:root {
  --bg-menu: #f2aa52;
  --bg-body: #faf1ea;
  --texts: #733f2d;
  --details_1: #ff2d0e;
  --details_2: #89e0ec;
}

:root .dark-theme {
  --bg-menu: #564663;
  --bg-body: #12103b;
  --texts: #ed3d54;
  --details_1: #edf3e7;
  --details_2: #edaf27;
}

body {
  background-color: var(--bg-body);
  app-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--texts);

    main {
      width: 96vw;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h1 {
        margin-top: 3vh;
      }

      h2 {
        margin-top: 1vh;
      }

      h3 {
        margin: 2vh 0;
      }

      h1,
      h2,
      h3 {
        background-color: var(--bg-menu);
        color: var(--texts);
        padding: 1vh 1vw;
        border-radius: 0.5rem;
      }
    }
  }
}
