@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: "Share Tech Mono", monospace;

  button {
    cursor: pointer;
  }
}

:root {
  --bg-menu: #f2aa52;
  --bg-body: #faf1ea;
  --texts: #733f2d;
  --details_1: #ff2d0e;
  --details_2: #89e0ec;
}

:root .dark-theme {
  --bg-menu: #67346b;
  --bg-body: #110a40;
  --texts: #f2506e;
  --details_1: #fbf8f7;
  --details_2: #f2cc0c;
}

body {
  background-color: var(--bg-body);
  app-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--texts);
    main {
      width: 96vw;
      height: 90vh;
    }
  }
}
